{{ template "chrome/header.html" . }}

  <section class="main-content container">
    <ul class="breadcrumb">
      <li><a href="/">Projects</a></li>
      <li>{{ .Title }}</li>
    </ul>

    <article class="texts-detail">
      {{ if .Params.avatar }}
        <figure class="texts-summary-avatar pull-right">
          <img src="{{ .Params.avatar }}" alt="{{ .Title }}" class="img-responsive img-circle">
        </figure>
      {{ end }}
      
      <header class="texts-detail-header">
        <h1 class="page-header texts-detail-header">{{ .Title }}</h1>
        {{ if .Description }}
          <p class="texts-detail-intro lead">{{ .Description }}</p>
        <hr>
        {{ end }}
      </header>

      <section class="texts-detail-bio">
        <strong>{{ .Title }}</strong>
	{{ if .Params.contributers }} 
		<i style="font-size:smaller"> von {{ .Params.contributers }}</i> 
	{{ end }}
	{{ .Content }}
      </section>
    </article>
	<h4>Support</h4>
<p>If you like this content, you may support me financially.
Just ask for my bank account data per <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#111;&#x3a;&#99;&#x6f;&#100;&#x69;&#x6e;&#103;&#x40;&#102;&#111;&#116;&#111;&#101;&#x6c;&#101;&#x63;&#116;&#x72;&#105;&#99;&#x73;&#x2e;&#x64;&#x65;">mail</a> or donate via Paypal &ndash; also handing them <a href="http://www.paypal.com/de/webapps/mpp/paypal-fees" target="_blank">quite a bit of the money</a>. 
<br/>
I am happy about every bit of support.</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="F3XBP6ZJUHJAS">
<input type="hidden" name="item_name" value="{{ .Title }}">
<input type="image" src="/img/paypal-button.png" border="0" name="submit" alt="easy, fast and secure online payment via Paypal">
<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
</form>

  </section>

{{ template "chrome/footer.html" . }}
