<article class="texts-summary row">
 <!-- {{ if .Params.texts }}
    <figure class="texts-summary-icon col-sm-2">
      <img src="{{ .Params.texts }}" alt="{{ .Title }}" class="img-responsive img-circle">
    </figure>
  {{ end }}-->
  <section class="texts-summary-details col-sm-10">
    <h2 class="texts-summary-header"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
<p>   
    {{ if .Date }}
	<i>{{ .Date.Format "2006-1-2" }}</i>
    {{ end }}
    {{ if and .Date .Description }}
	 &ndash; 
    {{ end }}
    {{ if .Description }}
        {{ .Description }}
       <!-- <a href="{{ .Permalink }}">Mehr</a>-->
    {{ end }}
</p>
  </section>
</article>
