    <div class="page-footer">
        <ul class="footer-items">
          <li><a href="/about/">About</a></li>
          <li><a href="/projects/index.xml" type="application/rss+xml" target="_blank"><img alt="subscribe to RSS Feed" src="/img/rss_small.png" style="vertical-align:top; margin:8px 5px 5px 5px;" />subscribe</a></li>
        <li class="text-muted">&copy; 2015-2018 <a href="http://askii.fotoelectrics.de" rel="nofollow">askii</a></li>
        </ul>
    </div>
  </body>
</html>
