<!DOCTYPE html>
<html class="no-js" lang="de" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">    

{{ if .IsPage }}
  <meta name="description" content="{{ .Description }}">
  <meta property="og:description" content="{{ .Description }}">
{{ else }}
  {{ if eq .Title "coding.fotoelectrics" }}
    <meta name="description" content="{{ .Site.Params.metadescription }}">
    <meta property="og:description" content="{{ .Site.Params.metadescription }}">
  {{ end }}
{{ end }}

    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />

    {{ template "chrome/includes.html" . }}
    <link href="/css/styles.css" rel="stylesheet">
{{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
{{ end }}
