<nav class="page-nav navbar navbar-default" role="navigation">
  <div class="container navigation-container">
    <button type="button" class="navbar-toggle navbar-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li{{ if eq .Title "coding.fotoelectrics" }} class="current"{{ end }}><a href="/">Coding</a></li>
        <li{{ if eq .Title "Author" }} class="current"{{ end }}><a href="/author/">Author</a></li>
      </ul>
    </div>
  </div>
</nav>
