{{ template "chrome/header.html" . }}
  <div class="main-content container">
    <!--<ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/about/">About</a></li>
      <li>{{ .Title }}</li>
    </ol>-->
    <h1 class="page-header">{{ .Title }}</h1>
    {{ .Content }}
  </div>
{{ template "chrome/footer.html" . }}
