{{ template "chrome/header.html" . }}

  <div class="container">
    <h1>Page not found</h1>
    <p>
      <strong>Oops!</strong> The requested page could not be found.
    </p>
    <p>
      If this is my mistake, please contact me via <a href="&#x6d;&#x61;&#x69;&#x6c;&#x74;&#111;&#x3a;&#99;&#x6f;&#100;&#x69;&#x6e;&#103;&#x40;&#102;&#111;&#116;&#111;&#101;&#x6c;&#101;&#x63;&#116;&#x72;&#105;&#99;&#x73;&#x2e;&#x64;&#x65;">email</a> and explain what went wrong.
    </p>
  </div>

{{ template "chrome/footer.html" }}
