{{ template "chrome/header.html" . }}

  <div class="hompage-jumbotron">
    <div class="container">
      <h1>Coding</h1>
      <h2>Code-related projects of Josa Wode</h2>
      <p>
	This site represents me as a programmer and software developer, so shame on me for having it in such a desolate state. For my other writings (stories and such) go check out my <a href="http://writing.fotoelectrics.de">authors website</a> &ndash; german language skills might help immensely, although I hope to translate it (or better let others do this) one day.
      </p>
    </div>
  </div>

<section class="main-content container">
  <h1 class="page-header">Projects</h1>

{{ range where .Data.Pages "Section" "projects" }}
	{{ .Render "summary" }}
{{ end }}

</section>

{{ template "chrome/footer.html" }}
