﻿{{ $SectionTitle := "Projects" }}

  <section class="main-content container">
    <h1 class="page-header">{{ $SectionTitle }}</h1>

    {{ range .Data.Pages }}
      {{ .Render "summary" }}
    {{ end }}

  </section>

